body{background:#f7b706}
footer{background:#dd4f24;color:rgba(255,255,255,0.5);padding:1em 0;text-align:center;width:100%;}
footer h3{font-size:14px;font-weight:normal;}
footer h3 strong{display:block}
form{padding:.8em;}
form input{border:1px solid #888;border-radius:5px;padding:.2em .6em}
form input[type="submit"]{background:#22bce0;border:1px solid #22bce0;box-shadow:rgba(0,0,0,0.5) 5px 5px 20px;font-style:italic;text-shadow:rgba(0,0,0,0.5) 2px 2px 5px;color:#fff}
form textarea{width:600px;height:120px;border:3px solid #ccc;padding:5px;font-family:Tahoma,sans-serif;background-image:url("bg.gif");background-position:bottom right;background-repeat:no-repeat}
form label{display:inline-block;width:60px}
header{background:#4d9700;color:#7ff F;padding:.5em;position:relative;z-index:2;overflow:hidden;}
header .logo{float:right;width:150px;}
header .logo img{width:150px;border-radius:50%}
header .titular{margin:0 80px 0 70px}
header .titulo{font-size:1.1em;font-weight:normal;margin:0;padding:0}
.posts{padding:.5em}
